.raw_logo {
  height: 305;
  width: 440;
}
.logo-loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body); /* تأكد إن --body معرف في ثيمك */
}

.logo-circle {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: drawCircle 2s ease-in-out forwards;
}

.logo-text {
  opacity: 0;
  animation: fadeInText 1s ease-out 1.5s forwards;
}

@keyframes drawCircle {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeInText {
  to {
    opacity: 1;
  }
}
